<div class="container">

  <div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
      <h1 class="entrysite">Find A Movie!</h1>
    </div>

  </div>

  <div class="row">
  	
  	<div class="col-md-7">
  		<img id="ModernFamilyPoster" src="http://cdn.sheknows.com/articles/2013/10/modern-family-group-top.jpg" class="img-responsive">
  	</div>
  
  	<div class="col-md-5 inputcol">
			<form accept-charset="UTF-8" action="/result" method="post" class="inputbox">
			  <input id="movie" name="movie" type="text" >
			  <input name="commit" type="submit" value="Find It!" /> 
			</form>

      <br>

      <img class="img-responsive" src="http://wpcontent.answcdn.com/wikipedia/en/thumb/b/bb/The_shining_heres_johnny.jpg/170px-The_shining_heres_johnny.jpg"></img>
		</div>
  
  </div>

  <div class="row">

    <div class="col-md-4 col-sm-4 col-xs-12">
      <img class="img-responsive bottombanner" src="http://www.highdefdigest.com/images/post/3/3030/original.jpeg"></img>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-12">
      <img class="img-responsive bottombanner" src="http://cdn.tripwiremagazine.com/wp-content/uploads/2011/07/cinematographygifs15_thumb.gif"></img>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-12">
      <img class="img-responsive bottombanner" src="http://i144.photobucket.com/albums/r198/theantiquetiger/fearloathing.jpg"></img>
    </div>

  </div>

</div>