<html>
	<head>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Tangerine:700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/stylesheets/style.css">
		<title>Movie Search</title>
	</head>
	<body>
	  <%= yield %>
	</body>
</html>