<div class="container results">

	<div class="row">

		<table class="table table-hover-rows">

			<tbody>
			
				<% @movie.each do |moviez|  %>

					<tr class="resultlinks"><td>
						<a href=<%="details/#{moviez["imdbID"]}" %> > <%= moviez["Title"] %></a></td>
						<td>(<%= moviez["Year"] %>)
					</td></tr>

				<% end %>
			
			</tbody>
		
		</table>
	
	</div>

</div>