<div class="container results">

	<div class="row front">

		<table class="table table-hover-rows">

			<tbody>
			
				<% @movie.each do |moviez|  %>

					<tr><td class="resultlinks">
						<a href=<%="details/#{moviez["imdbID"]}" %> > <%= moviez["Title"] %></a></td>
						<td class="resultdate">(<%= moviez["Year"] %>)
					</td></tr>

				<% end %>
			
			</tbody>
		
		</table>
	
	</div>

	<div class="row">
		<a href="/">New Search</a>
	</div>

</div>