<div class="container results">

<% @movie.each do |moviez|  %>
  	
  	<div class="row">

  		<div class="col-lg-12">
				<p class="resultlinks"><a href=<%="details/#{moviez["imdbID"]}" %> > <%= "#{moviez["Title"]}" %></a> (<%= moviez["Year"] %>)</p>
			</div>

  	</div>  

<% end %>

</div>