.poster {
	border: double;
	border-color: white;
}

.sectionheader {
	font-color: #0000FF;
	font-weight: 50px;
	font-family: times;
	font-size: 95px;
}

.title {
	font-family: 'Tangerine', cursive;
}

.plot {
	color: white;
}

.resultlinks {
	font-family: 'Fondamento', cursive;
	font-size: 50px;
	font
}

.results {
	background-image: url(http://puckerclust.files.wordpress.com/2011/02/the-eye-of-sauron.jpg);
	background-position: center;
	background-size: fill;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: black;
}

.entrysite {
	text-align: center;
	font-size: 100px;
}

.inputbox {
	position: absolute;
	top: 50%;
}